.about{
    background-color: white;
    margin-top: 80px;
    min-width: 1080px;
}
.about-box{
    width: 980px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about__title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    color: #2abf5e;
}
.about__subtitle{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
    color: #888888;
    font-size: 30px;
    font-weight: 200;
    width: 800px;
}
.about__img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.about__img img{
    margin: 0 40px;
    filter: brightness(50%);
    transition: all 1s ease-in-out;
    border-radius: 25px;
}
.about__img img:hover{
    filter: none;
}
