.preview{
    background-image: url('../images/preview-bg.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1080px;
}
.preview__phone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
    padding-bottom: 200px;
}
.preview__phone_box{
    margin-left: 80px;
}
.preview__phone_title{
    font-size: 60px;
    font-weight: 600;
    color: white;
    padding-bottom: 50px;
}
.preview__phone_subtitle{
    font-size: 42px;
    font-weight: 200;
    color: white;
    width: 450px;
}